@import "fonts";

.container {
  max-width: 1480px !important;
}

main {
  max-width: 1480px;
  margin: auto;
  padding: 40px 0;
}

.clear {
  clear: both;
  display: block;
}

.wrap {
  margin: auto;
  padding: 0 10px;
  max-width: 1480px;
}

h1, .h1 {
  font-family: $primary_font;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 110%;
  letter-spacing: -0.03em;
  color: #000000;
}

h2, .h2 {
  font-family: $primary_font;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 110%;
  letter-spacing: -0.03em;
}

h3, .h3 {
  font-family: $primary_font;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: -0.03em;
}

h4, .h4 {
  font-family: $primary_font;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  color: #222222 !important;
}

h5, .h5 {
  font-family: $secondary_font;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #222222;
}

p {
  font-family: $secondary_font;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #777777;
}

a {
  &:hover {
    color: #F3C44C;
  }
}

.btn {
  background: transparent;
  padding: 12px 20px;
  color: #ffffff;
  font-family: $primary_font;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.1em;
  display: inline-block;
  width: unset;
  text-align: center;
  margin: 5px;
  border: none;
  cursor: pointer;
}

button[name="save_account_details"], .account-save-address {
  width: 210px;
  height: 60px;
  letter-spacing: 0;

  &:hover {
    background: #C80D3F !important;
    color: #ffffff !important;
  }
}

.input {
  background: #F0F0F0;
  border: none;
  width: 70%;
  padding: 10px 0 10px 0;
  color: #ffffff;
  font-family: $primary_font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.1em;
}

input::placeholder {
  opacity: 1;
  font-family: $primary_font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #707070;
}

.submit {
  background: none;
  border: none;
  color: #ffffff;
  font-family: $primary_font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    color: #00CFF2;
  }
}

.post-container {
  margin-top: 20px;
  margin-bottom: 50px;
  overflow: hidden;

  article {
    padding: 30px 0;
    transition: .5s;
    &:hover {
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15), 0 5px 10px rgba(0, 0, 0, 0.1);
      margin: 0 -15px;
      padding: 30px 15px;
      transition: .5s;
    }
  }

  .content {
    display: inline-block;
    width: 78%;
    vertical-align: top;
    position: relative;
  }

}

footer {
  background: #222222;
  position: relative;
  overflow-y: hidden;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 80px 0;
    width: 100%;
    overflow: hidden;

    ul {
      display: block;
      padding: 0;

      li {
        display: block;
        padding: 0;
      }
    }
  }

  .extra {
    p {
      color: #777777 !important;

      a {
        display: inline-block;
        width: unset;
      }
    }
  }

  h4 {
    color: #BBBBBB !important;
  }

  p {
    color: #BBBBBB !important;
  }

  .socials {
    width: 80px;

    li {
      display: inline-block;
      position: relative;
      width: 35px;

      img:hover {
        filter: invert(95%) sepia(85%) saturate(2483%) hue-rotate(315deg) brightness(95%) contrast(102%);
      }
    }
  }

  .copyright {
    padding-top: 60px;
  }

  a:hover::before {
    content: "";
    filter: invert(95%) sepia(85%) saturate(2483%) hue-rotate(315deg) brightness(95%) contrast(102%);
  }

  .phone::before {
    content: "";
    background: url('assets/images/phone.svg') 100% no-repeat;
    display: inline-block;
    height: 20px;
    width: 20px;
  }

  .mail::before {
    content: "";
    background: url('assets/images/mail.svg') 100% no-repeat;
    display: inline-block;
    height: 20px;
    width: 20px;
  }


  a {
    display: block;
    font-family: $secondary_font;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #BBBBBB;
    width: 190px;
    padding: 3px 0;
  }

}

.post-content {
  max-width: 890px;

  .wp-block-image {
    margin: 0 0 10px 0;
  }

  .blocks-gallery-grid {
    padding: 20px 0;
  }

  .blocks-gallery-item {
    margin: 8px 0 !important;

    &::before {
      content: none !important;
    }
  }

  p {
    font-family: $secondary_font;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #777777;
  }

  p img {
    float: left;
    margin: 0 10px 0 0;
  }

  a {
    color: #C80D3F;
    &:hover {
      color: #F3C44C;
    }
  }

  article img {
    max-width: 100%;
    width: auto;
    height: auto;
  }

  h2:first-child {
    padding: 0 0 30px 0;
  }

  h2 {
    padding: 30px 0;
    font-size: 22px;
    margin: 0;
  }

  h3 {
    padding: 15px 0;
    font-size: 18px;
    margin: 0;
  }

  h4 {
    margin: 15px 0 5px 0;
    font-size: 16px;
  }

  ol[start] {
    padding: 0 0 0 35px;
  }

  ol[start] li::before {
    font-size: 36px;
    line-height: 120%;
    width: 32px;
    position: absolute;
    left: 0;
  }

  ol[start="1"] li::before {
    content: "1";
  }

  ol[start="2"] li::before {
    content: "2";
  }

  ol[start="3"] li::before {
    content: "3";
  }

  ol[start="4"] li::before {
    content: "4";
  }

  ol[start="5"] li::before {
    content: "5";
  }

  ol[start="6"] li::before {
    content: "6";
  }

  ol[start="7"] li::before {
    content: "7";
  }

  ol[start="8"] li::before {
    content: "8";
  }

  ol[start="9"] li::before {
    content: "9";
  }

  ol[start="10"] li::before {
    content: "10";
  }

  ol {
    padding: 0 5px;
    list-style: none;
    position: relative;
    counter-reset: li;

    li {
      counter-increment: li;

      &::before {
        content: counter(li) ". ";
        color: #F3C44C;
        font-weight: bold;
        width: 20px;
        display: inline-block;
      }
    }
  }

  ul li, ol li {
    font-family: $secondary_font;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #777777;
  }

  ul {
    padding: 0 5px;

    li {
      list-style: none;
      position: relative;
      padding: 0 0 0 15px;

      &::before {
        content: '\2022';
        color: #F3C44C;
        font-weight: bold;
        display: inline-block;
        position: absolute;
        left: 0;
        height: 20px;
        width: 26px;
        font-size: 18px;
      }

    }
  }

  .wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
    background-color: #00cff20f;
  }

  .wp-block-table {
    margin: 0;

    thead {
      border-bottom: 2px solid #F0F0F0;
    }

    th, td {
      padding: 10px 15px;
    }
  }

}

.inner {
  margin: 80px 0;
  position: relative;
  z-index: 1;
}

.page-header {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.header-image {
  height: 300px;
  padding: 70px 0;
  width: 100%;
  background-repeat: no-repeat;

  h1, ul {
    text-align: center;
    color: #ffffff;
  }

}

.column-1 {
  width: 25%;
  padding: 0 15px;
}

.column-2 {
  width: 75%;
  padding: 0 15px;
}

.column-full {
  width: 100%;
  margin-top: 40px;
  padding: 0 15px;
}

.page-sidebar {

  .current {
    color: #F3C44C !important;

    &:before {
      content: "";
      background: url('assets/images/arrow-short.svg') 100% no-repeat;
      height: 15px;
      width: 10px;
      position: absolute;
      transform: translate(-15px, 4px);
      display: inline-block;
    }

  }

  .level-1 {
    background: #F0F0F0;
    padding: 30px 10px 30px 50px;

    a {
      color: #000000;
      font-family: $primary_font;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 160%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      &:hover {
        color: #F3C44C;
      }
    }
  }

  .level-2 {
    padding-left: 30px;

    li {
      padding: 11px 0;
    }

    a {
      color: #000000;
      font-family: $secondary_font;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      text-transform: none;
      letter-spacing: -0.01em;
    }

    &:hover {
      color: #F3C44C;
    }

  }

  .level-3 {
    padding-left: 40px;

    li {
      padding: 11px 0;
    }

    a {
      color: #000000;
      font-family: $secondary_font;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      text-transform: none;
      letter-spacing: -0.01em;
    }

    &:hover {
      color: #00CFF2;
    }

  }

  li {
    list-style: none;
    padding: 8px 0;
  }

}

.breadcrumbs {
  padding: 0;

  li {
    display: inline-block;
    vertical-align: top;
    list-style: none;
    padding: 0 10px 0 0;
    font-family: $secondary_font;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;

    a {
      color: #777777;
    }

    &:last-child span {
      display: none;
    }

    span {
      display: inline-block;
      position: relative;
      width: 5px;
      height: 5px;
      background: transparent;
      text-indent: 0;
      border-top: 1px solid #BBBBBB;
      border-left: 1px solid #BBBBBB;
      transition: all 250ms ease-in-out;
      text-decoration: none;
      color: transparent;
      transform: rotate(135deg) translate(-5px, -2px);
      right: 0;
    }

    span:before {
      content: "";
      display: block;
      transform: rotate(45deg);
    }

  }
}

.archive {
  border-bottom: 1px solid black;
  padding: 0 0 30px 0;
}

.pagination, .woocommerce-pagination {
  text-align: left;
  padding: 20px 0;
  background: #F0F0F0;

  ul {
    list-style: none;
    display: block;

    li {
      display: inline-block;
    }
  }

  .page-numbers {
    position: relative;
    padding: 16px 16px;
    font-family: $secondary_font;
    border-radius: 4px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    color: #000000 !important;
    margin: 0;
  }

  .next:after {
    content: "";
    background: url(assets/images/arrow.svg) 100% no-repeat;
    height: 13px;
    margin: 6px 0;
    width: 32px;
    position: absolute;
  }

  .current {
    background: #000000;
    color: #ffffff !important;
  }

}

.single {

  .product {
    width: unset;
    display: block;

    .sku_wrapper {
      font-family: $secondary_font;
      display: block;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      color: #777777;
      padding: 15px 0 20px 0;
    }

    &:hover {
      box-shadow: none !important;
    }

    button {
      position: relative;
      width: auto;
    }

    button[type="submit"] {
      width: 100%;
    }

    .product_title {
      font-size: 36px;
      color: #222222;
    }

    .product-metadata {

      .product-general-info::before {
        content: "";
        background: url('assets/images/info.svg') 100% no-repeat;
        height: 16px;
        width: 16px;
        display: inline-block;
        margin: 0 5px;
      }

      .product-properties::before {
        content: "";
        background: url('assets/images/list.svg') 100% no-repeat;
        height: 16px;
        width: 16px;
        display: inline-block;
        margin: 0 5px;
      }

      .product-dimensions::before {
        content: "";
        background: url('assets/images/ruler.svg') 100% no-repeat;
        height: 16px;
        width: 16px;
        display: inline-block;
        margin: 0 5px;
      }

      table {
        width: 100%;

        td {
          padding: 7px 15px;
          font-family: $secondary_font;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 150%;
          color: #777777;
        }

        tr {
          background: #ffffff;
        }

        tr:nth-child(2n) {
          background: #F0F0F0;
        }
      }
    }

    .h1 {
      font-family: $primary_font;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 110%;
      letter-spacing: -0.03em;
      color: #000000;
    }

    h2 {
      font-size: 22px;
      color: #222222;
      margin: 15px 0 20px 0;
    }

    .entry-content p {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
    }

    .wrap-summary {
      background: #F0F0F0;
      padding: 20px;
      width: 50%;
      float: left;
    }

    .woocommerce-Tabs-panel {
      width: 77%;
      padding: 0 40px 0 0;
    }


    .instruction {
      width: 23%;
      float: right;
      position: relative;

      .instruction-content {
        position: absolute;
        bottom: 0;

        p {
          font-family: $secondary_font;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 150%;
          color: #C80D3F;
          width: 80%;
        }
      }
    }

    .wrap-delivery {
      width: 50%;
      padding: 0 20px 20px 20px;
      float: left;

      .method-active {

        h3, p {
          color: #C80D3F;
        }

        img {
          filter: brightness(0) saturate(100%) invert(20%) sepia(94%) saturate(6534%) hue-rotate(337deg) brightness(80%) contrast(96%);
        }
      }

      .option {
        padding: 0 0 20px 0;
      }

      p {
        font-size: 14px;
        color: #BBBBBB;
      }

      h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 140%;
        color: #BBBBBB;
        margin: 8px 0;
      }
    }

    .price, ins {
      font-size: 36px;
    }

    .woocommerce-Price-amount {
      font-size: 36px;

      em {
        font-size: 18px;
        transform: translate(-3px, -13px);
      }
    }

    ins em {
      font-size: 20px;
      transform: translate(-3px, -12px);
    }

    del {
      font-size: 16px;
    }
  }

  .woocommerce-product-gallery {
    float: left;
    width: 50%;
    position: relative;
  }

  .wc-tabs {
    display: none;
  }

  .entry-summary {
    width: 50%;
    float: left;
  }

  .woocommerce-product-column {
    width: unset;
    float: none;
    padding: 0;
  }

}

.single-product-inner {
  border: none !important;
  padding: 0 !important;
  padding-bottom: 80px !important;
}

.woocommerce-product-categories {
  width: 21%;
  float: left;

  img {
    transform: translate(-40px, 2px);
    position: absolute;
  }

  ul.sub-menu {
    position: relative;
    padding: 40px 0 40px 20px;
    width: 100%;
    display: block !important;
    background: #F0F0F0;

    a {
      font-family: "Gilroy Bold",sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 140%;
      color: #222222;
      padding: 10px 20px 10px 60px;

      &:hover {
        color: #F3C44C;

        img {
          filter: invert(95%) sepia(85%) saturate(2483%) hue-rotate(315deg) brightness(95%) contrast(102%);
        }
      }
    }

    li {
      left: 0;
      margin: 0;
      padding: 0;
      background: #F0F0F0;
      list-style: none;
    }

    ul.sub-menu {
      padding: 0 0 20px 0;

      a {
        font-family: "Gilroy Medium",sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 140%;
        color: #777777;
        padding: 0 20px 0 60px;

        &:hover {
          color: #F3C44C;

          img {
            filter: invert(95%) sepia(85%) saturate(2483%) hue-rotate(315deg) brightness(95%) contrast(102%);
          }
        }
      }
    }
  }

}

.filter-collapse {
  display: none;
  position: relative;
  color: #ffffff;
  background: #222222;
  left: 0;
  margin-left: -15px;
  padding: 10px 20px;
  z-index: 100;
  cursor: pointer;
}

.woocommerce-filter-column {
  width: 21%;
  float: left;
  min-width: 340px;

  .filter-wrap {
    background: #F0F0F0;
    padding: 30px 50px 30px 30px;
  }

  .filter-active-wrap {
    background: #E5E5E5;
    padding: 30px 50px 30px 30px;

    .product-clear-filters {
      display: block;
      background: transparent;
      border: none;
      font-family: $primary_font;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #222222;
      cursor: pointer;
      padding: 12px 0 0 0;

      &:before {
        content: "";
        background: url("assets/images/times.svg") 100% no-repeat;
        height: 15px;
        width: 15px;
        display: inline-block;
        transform: translate(-5px, 2px);
      }
    }

    span {
      display: inline-block;
      background: #222222;
      border-radius: 3px;
      font-family: $secondary_font;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 150%;
      color: #FFFFFF;
      padding: 6px;
      margin: 3px;

      &:after {
        content: "";
        background: url("assets/images/close.svg") 100% no-repeat;
        height: 15px;
        width: 15px;
        display: inline-block;
        transform: translate(0px, 3px);
      }

    }

  }

  .filter-attribute-name {
    margin: 35px 0 15px 0;
  }

  .filter-single-wrap {
    list-style: none;
    padding: 0;
    position: relative;

    label {
      font-family: $secondary_font;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #777777;
    }

    input[type="checkbox"] {
      background: #FFFFFF;
      border: 1px solid #E5E5E5;
      border-radius: 3px;
      clear: none;
      cursor: pointer;
      display: inline-block;
      line-height: 0;
      height: 1rem;
      margin: -.25rem .25rem 0 0;
      outline: 0;
      padding: 0!important;
      text-align: center;
      vertical-align: middle;
      position: unset !important;
      width: 1rem;
      min-width: 1rem;
      -webkit-appearance: none;

      &:checked {
        background: #222222 !important;

        &::before {
          content: url('assets/images/checkmark.svg') !important;
          margin: 2px 0 0 -1px !important;
          height: 1.3125rem !important;
          float: left !important;
          display: inline-block !important;
          vertical-align: middle !important;
          width: 1rem !important;
          position: unset !important;
          transform: none !important;
          border: none !important;
        }

        &::after {
          content: none !important;
        }
      }
    }

    span {
      font-family: $secondary_font;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      color: #b6b6b6;
      padding: 0 2px;
    }

  }

  .cost-range-wrap {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 20px 0;

    label {
      background: #FFFFFF;
      border: 1px solid #E5E5E5;
      padding: 10px;
      font-family: $secondary_font;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      color: #222222;
    }

    input {
      background: transparent;
      border: none;
      box-sizing: border-box;
      border-radius: 4px;
      width: 50px;
      font-family: $primary_font;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #222222;
    }
  }

  #cost-range {
    position: relative;
    height: 6px;
    background: #BBBBBB;
    border-radius: 3px;

    div {
      background: #C80D3F;
      display: block;
      height: 100%;
      position: absolute;
    }

    span {
      height: 20px;
      width: 20px;
      background: #ffffff;
      position: absolute;
      border-radius: 50%;
      transform: scale(1.5) translate(0px, -6px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15),
      0 2px 4px rgba(0, 0, 0, 0.15);

      &:after {
        content: "";
        background: #C80D3F;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        transform: translate(6px, 6px);
        display: block;
      }
    }

  }

}

.woocommerce-category-meta-wrap {
  padding: 0 0 0 20px;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
  border: 1px solid #F0F0F0;
  margin: -0.5px;

  .category-products-count {

    font-family: $secondary_font;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #222222;
    line-height: 3;

    span {
      font-family: $secondary_font;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: rgba(119, 119, 119, 0.51);
    }
  }

  .category-product-sort {

    span {
      font-family: $secondary_font;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: rgba(119,119,119,0.51);
      padding: 0 20px 0 0;
    }

    span, form {
      display: inline-block;
    }

  }

}

.woocommerce-breadcrumb {
  font-family: $secondary_font;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: rgba(119, 119, 119, 0.51);
  padding: 20px 0;

  a {
    font-family: $secondary_font;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #777777;

    &::after {
      content: "";
      display: inline-block;
      position: relative;
      width: 5px;
      height: 5px;
      background: transparent;
      text-indent: 0;
      border-top: 1px solid #BBBBBB;
      border-left: 1px solid #BBBBBB;
      transition: all 250ms ease-in-out;
      text-decoration: none;
      color: transparent;
      transform: rotate(135deg) translate(-5px, -2px);
      right: 0;
      margin: 0 8px 0 0;
    }
  }
}

.woocommerce-product-column {
  width: 76%;
  float: right;
  padding: 0 0 0 30px;

  .products .product {
    width: 33%;
    display: inline-block;
  }

  .products {
    padding: 0;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    vertical-align: top;
  }

  h1 {
    padding: 0 0 20px 0;
    color: #222222;
  }
}

.closed {
  display: none;
}

.open {
  display: block;
}

.contact-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000000;

  .modal-content {
    top: 8vh;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    margin: 0 auto;
    max-width: 400px;
    max-height: 750px;
    overflow: hidden;
    background: #C80D3F;
    position: absolute;
    z-index: 10000000;
  }

  .modal-body {
    padding: 50px 20px 0 20px;

    label {
      display: block;
      margin: 8px 0;
    }



    input, textarea {
      font-family: $secondary_font;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.01em;
      background: #1d7c112e;
      color: #ffffff;
      padding: 10px;
      border: 1px solid #E0E0E0;
      box-sizing: border-box;
      border-radius: 4px;
      width: 100%;

      &::placeholder {
        color: #ffffff;
        font-family: $secondary_font;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.01em;
        text-decoration: none !important;
        text-transform: none !important;
      }
    }

    a {
      color: #222222;
    }

    span.wpcf7-list-item {
      margin: 0;
    }

    input[type="checkbox"]:after {
      opacity: 1;
    }

    input[type="checkbox"] {
      width: unset;
    }

    div.wpcf7-response-output {
      border: none;
      padding: 10px 0;
      margin: 0;
      font-family: $secondary_font;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      color: #ffffff;
    }

    input[type="submit"] {
      background: #222222;
      border-radius: 4px;
      padding: 12px 30px;
      text-align: center;
      font-family: $primary_font;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 140%;
      color: #FFFFFF;
      width: 100%;
    }
  }

  span.wpcf7-not-valid-tip, .wpcf7-list-item-label {
    color: #ffffff;
  }

  .modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    font-weight: bolder;
    font-family: monospace;
    font-size: 23px;
    cursor: pointer;
  }

  .modal-back {
    position: absolute;
    background: #1e1e1e;
    opacity: .8;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

}

.cart-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000000;

  .modal-content {
    top: 8vh;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    margin: 0 auto;
    max-width: 510px;
    max-height: 750px;
    overflow: hidden;
    background: #ffffff;
    position: absolute;
    z-index: 10000000;
  }

  .modal-close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-weight: bolder;
    font-family: monospace;
    font-size: 23px;
    cursor: pointer;
  }

  .modal-head {
    background: #E5E5E5;
    padding: 20px;
    text-align: center;

    h3 {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 140%;
    }
  }

  .modal-footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;

    a {
      background: #E5E5E5;
      border-radius: 4px;
      padding: 12px 18px;
      margin: 10px 0;
      font-family: $primary_font;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 140%;
      text-align: center;
      color: #222222;
      cursor: pointer;
    }

    a.open-cart {
      background: #F3C44C;

      &:hover {
        background: #C80D3F;
        color: #ffffff;
      }
    }
  }

  .modal-body {
    padding: 20px 20px 0 20px;

    h1 {
      font-family: $secondary_font;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }

    .cart-info {
      border-top: 1px solid #E5E5E5;
      padding: 20px 0 0 0;
      margin: 20px 0 0 0;

      p {
        margin: 5px 0;
      }

    }

    .product-amount {
      span {
        font-family: $primary_font;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: #777777;
      }
    }

  }

  .modal-back {
    position: absolute;
    background: #1e1e1e;
    opacity: .8;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.footer-extra {
  border-top: 2px solid #222222;
  max-width: 1480px;
  margin: auto;
}

.info-block-footer {
  img {
    filter: brightness(0) saturate(100%) invert(70%) sepia(43%) saturate(0%) hue-rotate(158deg) brightness(95%) contrast(102%);
  }
}

input[type="radio"] {
  position: relative;
  cursor: pointer;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  background: transparent;

  &:checked {
    background-color: #2196F3;

    &:before {
      content: "";
      position: absolute;
      display: block;
      width: 8px;
      height: 8px;
      top: -12px;
      left: 2.1px;
      border-radius: 50%;
      background: #FFFFFF;
      z-index: 100;
    }

    &:after {
      content: "";
      top: -17px;
      left: -3px;
      width: 18px;
      height: 18px;
      position: absolute;
      display: block;
      background: #222222;
      border: 1px solid #222222;
      border-radius: 50%;
    }
  }

  &:after {
    content: "";
    top: -17px;
    left: -3px;
    width: 18px;
    height: 18px;
    position: absolute;
    display: block;
    background: #F0F0F0;
    border: 1px solid #E5E5E5;
    border-radius: 50%;
  }
}

input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  background: transparent;

  &:checked {
    background-color: #2196F3;

    &:before {
      content: "";
      height: 10px;
      width: 6px;
      display: inline-block;
      transform: rotate(45deg) translate(-9px, -13px);
      border-bottom: 1.5px solid #ffffff;
      border-right: 1.5px solid #ffffff;
      position: absolute;
      z-index: 100;
    }

    &:after {
      content: "";
      top: -17px;
      left: -3px;
      width: 18px;
      height: 18px;
      position: absolute;
      display: block;
      background: #222222;
      border: 1px solid #222222;
      border-radius: 4px;
    }
  }

  &:after {
    content: "";
    top: -17px;
    left: -3px;
    width: 18px;
    height: 18px;
    position: absolute;
    display: block;
    background: #F0F0F0;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
  }
}

.woocommerce-form-login__rememberme input:after {
  content: "";
  top: -17px;
  left: -3px;
  width: 18px;
  height: 18px;
  position: absolute;
  display: block;
  background: #F0F0F0;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  opacity: 1;
}

.unhover {
  box-shadow: none !important;

  .hidden-product-info {
    display: none !important;
  }

  .close-product {
    display: none !important;
  }
}

.close-product {
  display: none;
  font-family: $primary_font;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  z-index: 1000000;
  position: absolute;
  right: 10px;
  background: white;
  border-radius: 50%;
  padding: 6px 14px;
  top: 21px;
  border: 1.5px solid black;
}

.quantity-label {
  display: inline-block;
  margin: 0;
  padding: 0 10px 0 0;
}

.woocommerce-checkout {

  button {
    border-radius: 4px;
  }

  .checkout-login-fields {
    p.login-open{
      display: block !important;
    }
  }

}

.close-qualitySign {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 10px;
  height: 10px;

  &:after {
    content: "x";
    font-size: 20px;
    display: block;
  }
}

div.paysera-payments.grid {

  div.payment.activePayseraPayment {
    border: 1px solid #e7ebff !important;
  }

  span.paysera-text {
    display: none !important;
  }

  input[type=radio] {
    width: auto;
  }

  div.paysera-image {
    display: block !important;
  }

  div.payment {
    padding: 15px 15px 15px 15px !important;
    border: 1px solid #e7ebff !important;
    width: 25%;
    vertical-align: top;
    margin: 10px;
  }

  span.paysera-text {
    display: block;
    text-align: left;
  }

}

.hidden {
  display: none;
}

.disabled {
  cursor: not-allowed;
}

.woocommerce-password {
  p {
    width: 100% !important;
    display: block !important;
    float: none !important;
    max-width: 60% !important;
  }
}

.woocommerce {

  #accept-rules-and-privacy:after {
    content: "";
    top: -17px;
    left: -3px;
    width: 18px;
    height: 18px;
    position: absolute;
    display: block;
    background: #F0F0F0;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    opacity: 1;
  }

  #accept-rules-and-privacy:checked:before {
    content: "";
    height: 10px;
    width: 6px;
    display: inline-block;
    transform: rotate(45deg) translate(-9px, -13px);
    border-bottom: 1.5px solid #222222;
    border-right: 1.5px solid #222222;
    position: absolute;
    z-index: 100;
  }

  #billing_field {
    display: none;
  }

  .screen-reader-text {
    display: none;
  }

  .woocommerce-cart-form {
    width: 79%;
    float: left;

    table {
      table-layout: auto;
      width: 100%;

      tr {
        border: 1px solid #F0F0F0;
        box-sizing: border-box;

        th, td {
          padding: 10px 15px;
        }
      }

      thead th {
        font-family: $secondary_font;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #777777;
      }

      tbody td, tbody a {
        font-family: $secondary_font;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #222222;
      }

      tbody .product-remove a::after {
        content: "";
        background: url('assets/images/trash.svg') 100% no-repeat;
        height: 16px;
        width: 15px;
        display: block;
        margin: auto;
        cursor: pointer;
      }

    }
  }

  .cart-collaterals {
    width: 20%;
    float: left;
    background: #F0F0F0;
    padding: 20px;
    margin: 0 0 0 10px;
  }

  .woocommerce-product-gallery {

    figure.woocommerce-product-gallery__wrapper {
      margin: 0;
      width: 20%;
      float: left;

      .woocommerce-product-gallery__image {
        width: 105px;
        height: 105px;
        border: 1px solid transparent;
      }

      img {
        max-width: 100px;
        max-height: 100px;
      }
    }

    figure.woocommerce-product-gallery-thumbnail {
      margin: 0;
      width: 80%;
      float: left;

      img {
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 380px;
      }
    }

    .woocommerce-product-gallery__wrapper .gallery_image_active {
      border: 1px solid #F3C44C !important;
    }

  }

  .wc-proceed-to-checkout {
    display: block;
    width: 100%;
    padding: 10px 0 0 0;

    a {
      background: #F3C44C;
      color: #222222;
      padding: 20px 35px;
      font-family: $primary_font;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 140%;
      text-align: center;
      display: block;
      width: 100%;
      border-radius: 4px;
    }
  }

  .calculated_shipping {
    font-family: $secondary_font;
    color: #777777;
  }

  .shop_table {
    width: 100%;

    td {
      font-family: $secondary_font;
      color: #777777;
    }

    .order-total span {
      font-family: $primary_font;
      color: #C80D3F;
      font-size: 22px;
    }
  }

  .redirect-to-shop {
    display: inline-block;
    padding: 20px 0 20px 0;
    font-family: "Gilroy Bold",sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    color: #222222;

    &:before {
      content: "";
      background: url(assets/images/arrow.svg) 100% no-repeat;
      width: 40px;
      height: 10px;
      display: inline-block;
      transform: rotate(180deg);
    }
  }

  .quantity-wrap {
    display: inline-block;
    background: #ffff;
    padding: 2px;

    #quantity-inc::before, .quantity-inc::before {
      content: "";
      background: url('assets/images/increase.svg') 100% no-repeat;
      height: 10px;
      width: 10px;
      display: inline-block;
      text-align: center;
      transform: none;
      position: relative;
    }

    #quantity-dec::before, .quantity-dec::before {
      content: "";
      background: url('assets/images/decrease.svg') 100% no-repeat;
      height: 10px;
      width: 10px;
      display: inline-block;
      text-align: center;
      transform: none;
      position: relative;
    }

    button {
      display: inline-block;
      padding: 6px 6px;
      background: #E5E5E5;
      border-radius: 3px;
      margin: 0;
      border: none;
    }

    .quantity {
      display: inline-block;

      .screen-reader-text {
        display: none;
      }

      input {
        text-align: center;
        font-size: 16px;
        background: transparent;
        border: none;
        width: 50px;
        padding: 10px;
      }

      input[type=number] {
        -moz-appearance: textfield;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

  }

  button[name="update_cart"],
  input[name="update_cart"] {
    display: none;
  }

  .edit-account, .account-address-manage, .woocommerce-form-login, .woocommerce-form-register {

    .woocommerce-form-row {
      float: left;
    }

    .btn {
      color: #222222;
      border-radius: 4px;
      background: #F3C44C;
      margin: 0;
      display: block;
      letter-spacing: 0;

      &:hover {
        color: #ffffff;
        background: #C80D3F;
      }
    }

    .form-row-wide {
      max-width: 60%;
    }

    .form-row-first, .form-row-last {
      max-width: 30%;
    }

    .form-row, .woocommerce-privacy-policy-text {
      width: 100%;
      display: inline-block;
      padding: 0 20px 0 0;
    }

  }

  .checkout, .edit-account, .woocommerce-address-fields, .woocommerce-form-login, .woocommerce-form-register {

    .cart_item img {
      height: 80px;
      width: auto;
    }

    input {
      background: #F0F0F0;
      border: 1px solid #E5E5E5;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 10px 12px;
      width: 100%;
      font-family: $secondary_font;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #222222;

      &::placeholder {
        font-family: $secondary_font;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        text-transform: none;
        color: #777777;
      }
    }

    .privacy-policy {
      .input:after {
        content: "";
        top: -17px;
        left: -3px;
        width: 18px;
        height: 18px;
        position: absolute;
        display: block;
        background: #F0F0F0;
        border: 1px solid #E5E5E5;
        border-radius: 4px;
        opacity: 1;
      }
    }

    .privacy-policy {
      input:checked:before {
        content: "";
        height: 10px;
        width: 6px;
        display: inline-block;
        transform: rotate(45deg) translate(-9px, -13px);
        border-bottom: 1.5px solid #222222;
        border-right: 1.5px solid #222222;
        position: absolute;
        z-index: 100;
      }
    }

    .privacy-policy label {
      display: inline-block;
    }

    a {
      color: #C80D3F;
    }

    input[type="checkbox"], input[type="radio"] {
      width: 0 !important;
      height: 0 !important;
      margin-right: 22px;
      -webkit-appearance: none;
      padding: 0;
    }

    label {
      display: block;
      font-family: $secondary_font;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #777777;
      margin: 4px 0;
    }

    .optional {
      display: none;
    }

    .form-row-wide {
      width: 100%;
      display: inline-block;
      padding: 0 20px 0 0;
    }

    .form-row-first, .form-row-last {
      width: 50%;
      display: inline-block;
      padding: 0 20px 0 0;
    }

    ul {
      padding: 0;
      list-style: none;
    }

  }

  .form-billing-tab-wrap {
    background: white;
    padding: 20px 40px;
    margin: 0 0 20px 0;
    border-left: 3px solid #222222;

    .form-billing-tab  {
      display: block;
      width: 100%;
      position: relative;
      clear: both;

      h2 {
        font-family: $primary_font;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 130%;
        letter-spacing: -0.01em;
        color: #222222;
      }
    }

    button {
      background: #F3C44C;
      color: #222222;
      padding: 20px 60px;
      font-family: $primary_font;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 140%;
      text-align: center;
      display: block;
      border: none;
    }

    .tab-closed {
      display: none;
    }

    .tab-open {
      display: block;
    }

    .radio {
      width: 97%;
      display: inline-block;
    }

    .input-radio {
      width: unset;
      display: inline-block;
    }

  }

  .order-review-sidebar {
    background: #FFFFFF;
    padding: 20px 30px;

    ul {
      padding: 0;
      list-style: none;
    }
  }

  .woocommerce-error {
    padding: 20px 40px !important;
    background: #ffff;
    list-style: none;

    li {
      color: #C80D3F;
    }
  }

  .woocommerce-account-fields {
    float: right;
    width: 50%;
  }

  .checkout-login-fields .form-user, .checkout-login-fields .form-user-button {
    display: none;
  }

  .login-open {
    display: inline-block !important;
  }

  .login-open-button {
    display: block !important;
  }

  .radio-select {
    display: inline-block;
    padding: 20px 30px 20px 0;

    input {
      display: inline-block;
      width: 0;
      height: 0;
      margin-right: 14px;
    }

    label {
      display: inline-block;
    }
  }

}

.woocommerce-checkout {
  background: #E5E5E5;
}

.woocommerce-order {
  background: white;
  padding: 20px 40px;

  ul {
    padding: 0;
    list-style: none;
  }
}

.search .page-wrap a, .return-to-shop a  {
  color: #C80D3F;
}

.search-form-open {
  display: none;
  background: url(assets/images/search.svg) 100% no-repeat;
  margin: 12px;
  width: 20px;
  height: 20px;
  float: right;
  position: relative;
  border: none;
}

.page .page-wrap, .search .page-wrap {
  padding-bottom: 60px;
  padding-top: 40px;

  h1 {
    margin: 10px 0 20px 0;
  }

}

.profile-modal {
  display: none;
  position: absolute;
  z-index: 1000;
  padding: 20px 20px 10px 20px;
  width: 240px;
  left: calc(50% - 165px);
  background: #ffffff;
  margin: auto;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.2);

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    top: 0;
    left: 0;
    right: 0;
    border-right: 25px solid transparent;
    border-bottom: 20px solid white;
    position: absolute;
    transform: translate(0px, -10px);
    margin: auto;
  }

  .modal-row {
    display: flex;
    justify-content: space-evenly;
    margin: 0 -1.5px;;

    .btn {
      width: 50%;
      margin: 0 3px;
      padding: 0;
    }
  }

  p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #777777;
    margin: 10px 0;
    letter-spacing: 0;
  }

  a {
    font-family: $primary_font;
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: #222222;
    margin: 10px 0;
  }

  .login-facebook {
    color: #4267B2;
    border: 2px solid #4267B2;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    padding: 10px;
  }

  #gSignInWrapper {
    width: 50%;
    margin: 0 3px;

    .login-gmail {
      color: #D93025;
      border: 2px solid #D93025;
      box-sizing: border-box;
      border-radius: 4px;
      font-size: 14px;
      padding: 10px;
      width: 100%;
    }
  }

  .login-woocommerce {
    font-family: $secondary_font;
    font-weight: bold;
    color: #FFFFFF;
    background: #C80D3F;
    border-radius: 4px;
    font-size: 18px;
    width: 100%;
    margin: 5px 1px;
    letter-spacing: 0;
  }

  .register-woocommerce {
    font-family: $secondary_font;
    font-weight: bold;
    color: #222222;
    background: #F3C44C;
    border-radius: 4px;
    font-size: 18px;
    width: 100%;
    margin: 5px 0;
    letter-spacing: 0;
  }

  .profile-modal-register {
    padding: 5px 20px;
    margin: 10px -20px 0 -20px;
    border-top: 1px solid #F0F0F0;
  }

  .profile-shortlinks {
    padding: 10px 20px;
    margin: 10px -20px 0 -20px;
    border-top: 1px solid #F0F0F0;
  }

}

.woocommerce #customer_login {

  .btn, .input {
    display: block;
    width: auto;
  }

  .btn {
    color: #FFFFFF;
    background: #C80D3F;
    border-radius: 4px;
    font-size: 18px;
    width: auto;
    margin: 5px 0;
  }


}

.woocommerce .lost_reset_password {

  label {
    display: block;
  }

  input {
    color: #000000;
    padding-left: 5px;
    padding-right: 5px;
  }

  .btn {
    color: #FFFFFF;
    background: #C80D3F;
    border-radius: 4px;
    font-size: 18px;
    width: auto;
    margin: 5px 0;
  }
}

.woocommerce-account-navigation-links {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0 -10px;
  transition: box-shadow .35s;

  li:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow .65s;

    a {
      color: #F3C44C;
    }

    img {
      filter: brightness(0) saturate(100%) invert(95%) sepia(85%) saturate(2483%) hue-rotate(315deg) brightness(95%) contrast(102%);
    }
  }

  a {
    font-family: $primary_font;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 130%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #222222;
    display: block;
    padding: 40px 20px;
  }

  li {
    background: #F0F0F0;
    width: 33.3%;
    text-align: center;
    margin: 0 10px;

    img {
      display: block;
      max-height: 96px;
      margin: 20px auto;
    }
  }
}

.woocommerce table.woocommerce-orders-table {

  .status-on-hold, .status-processing {
    color: #F3C44C;
    font-family: $primary_font;
    font-weight: bold;
  }

  .status-cancelled, .status-failed {
    color: #C80D3F;
    font-family: $primary_font;
    font-weight: bold;
  }

  .status-completed, .status-refunded {
    color: #7BBA53;
    font-family: $primary_font;
    font-weight: bold;
  }

  .woocommerce-button {
    color: #777777;
    font-family: $secondary_font;
    font-weight: 500;
    font-size: 16px;
    padding: 0 10px;
  }

  .order-view-details {
    &::before {
      content: "";
      background: url('assets/images/info.svg') 100% no-repeat;
      height: 18px;
      width: 18px;
      display: inline-block;
      transform: translate(-5px, 3px);
      filter: brightness(0);
    }
  }

  .order-again {
    &::before {
      content: "";
      background: url('assets/images/refresh.svg') 100% no-repeat;
      height: 18px;
      width: 18px;
      display: inline-block;
      transform: translate(-5px, 3px);
      filter: brightness(0);
    }
  }

  tr {
    border: 1px solid #F0F0F0;
    padding: 30px 10px;
  }

  th {
    color: #777777;
    font-family: $secondary_font;
    font-weight: 500;
    font-size: 16px;
  }

  td, th {
    padding: 30px 10px;
  }

  strong {
    font-family: $primary_font;
    font-weight: bold;
    color: #222222;
  }

  td {
    font-family: $secondary_font;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #222222;
  }

}

.question-us-wrap {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;

  a {
    background: #C80D3F;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    font-family: $primary_font;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    width: 220px;

    &::before {
      content: "";
      background: url('assets/images/dialog.svg') 100% no-repeat;
      width: 23px;
      height: 23px;
      display: inline-block;
      transform: translate(-10px, 4px);
    }

    &:hover {
      background: #F3C44C;
      border-radius: 4px;
      color: #222222;
    }
  }

}

.account-logout {
  margin: 20px 0;
  font-family: $primary_font;
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  color: #222222;

  &::before {
    content: '';
    background: url('assets/images/logout.svg') 100% no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    transform: translate(0px, 3px);
  }

  &:hover::before {
    filter: brightness(0) saturate(100%) invert(95%) sepia(85%) saturate(2483%) hue-rotate(315deg) brightness(95%) contrast(102%)
  }

}

.required {
  text-decoration: none;
}

.cross-sells {
  .h1 {
    padding: 20px 0 10px 0;
  }
}

.woocommerce-message a {
  color: #C80D3F;
}

.cart-collaterals .woocommerce-shipping-methods {
  padding: 0;
  list-style: none;
  font-family: $secondary_font;
  color: #777777;

  label {
    margin: 0 15px;
    font-family: $secondary_font;
    color: #777777;
  }
}

.checkout .checkout-products-data {
  .woocommerce-shipping-totals {
    display: none;
  }
}

.select2-container {
  display: block;
  margin: 10px 0 20px 0;
}

.product-category {

  h4 {
    text-align: center;
    margin: 20px 0 0 0;
  }

  img {
    display: block !important;
    text-align: center;
    margin: auto;
  }

}

.contact-page {

  .btn {
    background: #F3C44C !important;
    border-radius: 4px !important;
    font-family: $primary_font;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #222222;
    padding: 18px 45px;
    letter-spacing: 0;

    &:hover {
      background: #C80D3F !important;
      color: #ffffff !important;
    }
  }

  a {
    color: #C80D3F;
  }

  input[type="checkbox"]::after {
    opacity: 1 !important;
    transform: translate(-10px, 3px) !important;
  }

  input[type="checkbox"]::before {
    transform: rotate(45deg) translate(-14px, -4px) !important;
  }

  .form-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -15px;

    .input {
      margin: 8px 10px;
      padding: 10px;
      width: 100%;
      font-family: $secondary_font;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #777777;
      text-transform: none;
      border-radius: 4px;
      letter-spacing: 0;

      &::placeholder {
        font-family: $secondary_font;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #777777;
        text-transform: none;
        letter-spacing: 0;
      }
    }
  }

  .col-1 {
    width: 30%;
    max-width: unset;
    flex: unset;
    padding: 0 10px;
  }

  .col-2 {
    width: 70%;
    max-width: unset;
    flex: unset;
    padding: 0 10px;
  }

  div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
    border: none;
    padding: 0;
  }

  span.wpcf7-not-valid-tip {
    color: #C80D3F;
    margin: 0 10px;
  }
}

.websites-depot-checkout-review-shipping-table {
  font-family: $secondary_font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #777777;
}

.woocommerce-shipping-methods {

  label {
    display: inline-block !important;
  }

  input {
    width: auto !important;
    display: inline-block !important;
    margin-right: 10px;
  }

}

.adjust-position {
  margin-bottom: 80px !important;
}