@font-face {
  font-family: 'Gilroy Medium';
  font-display: swap;
  src: url('assets/fonts/Gilroy-Medium.eot');
  src: url('assets/fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/Gilroy-Medium.woff2') format('woff2'),
  url('assets/fonts/Gilroy-Medium.woff') format('woff'),
  url('assets/fonts/Gilroy-Medium.ttf') format('truetype'),
  url('assets/fonts/Gilroy-Medium.otf') format('opentype'),
  url('assets/fonts/Gilroy-Medium.svg') format('svg');
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Gilroy Bold';
  font-display: swap;
  src: url('assets/fonts/Gilroy-Bold.eot');
  src: url('assets/fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/Gilroy-Bold.woff2') format('woff2'),
  url('assets/fonts/Gilroy-Bold.woff') format('woff'),
  url('assets/fonts/Gilroy-Bold.ttf') format('truetype'),
  url('assets/fonts/Gilroy-Bold.otf') format('opentype'),
  url('assets/fonts/Gilroy-Bold.svg') format('svg');
  font-style: normal;
  font-stretch: normal;
}

$primary_font: 'Gilroy Bold', sans-serif;
$secondary_font: 'Gilroy Medium', sans-serif;

$color_black: #000000;
$color_white: #ffffff;