@import "fonts";

html .sticky-header {
  left: 0;
  right: 0;
  position: fixed;
  background: #ffffff;

  .search {
    order: 2;
    margin-left: 130px;
  }

  .nav-icon {
    order: 3;
  }

  .logo-wrapper {
    height: 60px;

    .logo {
      height: 60px;
      margin: 10px 0;
    }
  }

  .navigation {
    width: unset;
    background: transparent;
    margin: auto 40px;
    order: 1;

    .catalog {
      min-width: unset !important;
      margin-top: 6px !important;

      a {
        padding: 10px 10px 10px 60px !important;
      }

      .sub-menu a {
        padding: 0 20px 0 60px !important;
      }

      &:before {
        left: 15px !important;
        top: 8px !important;
      }

      .catalog-categories-wrap {
        min-width: 340px;
      }
    }

    .menu-item {
      display: none;
    }
  }

  &::before {
    content: "";
    background: #ffffff;
    position: absolute;
    width: 100vw;
    margin: 0 -100vw 0 0;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
  }

  &:after {
    content: "";
    background: #ffffff;
    position: absolute;
    width: 100vw;
    margin: 0 -100vw;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
  }
}

.header {
  z-index: 99999;
  position: relative;
  max-width: 1480px;
  width: 100%;
  margin: auto;

  .wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .logo-wrapper {
    height: 90px;
    margin: 0;
    position: relative;
    display: inline-block;
    z-index: 100;
    overflow: hidden;

    .logo {
      background-image: url(assets/images/logo.svg);
      background-size: 100%;
      background-repeat: no-repeat;
      height: 100px;
      width: 200px;
      position: relative;
      margin: 25px 0;
    }

  }

  .info-wrap {
    display: inline-block;
    right: 0;
    bottom: 0;
    width: auto;
    vertical-align: top;
    margin: auto 0;
    position: absolute;

    p {
      font-family: $secondary_font;
    }

    p, span {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #222222;
    }

    span {
      font-family: $primary_font;
      &::before {
        content: "";
        background: url('assets/images/phone.svg') 100% no-repeat;
        display: inline-block;
        height: 20px;
        width: 20px;
      }
    }

  }

  .navigation {
    margin: auto;
    width: 100%;
    position: relative;
    background: #222222;

    li:first-child {
      background: #C80D3F;
      min-width: 340px;
      text-align: left;

      &:hover {
        background: #F3C44C;
        a {
          color: #222222;
        }
      }
    }

    .catalog {
      &:before {
        content: "";
        background: url("assets/images/menu.svg") 100% no-repeat;
        filter: brightness(0) invert(1);
        height: 28px;
        width: 24px;
        display: inline-block;
        position: absolute;
        left: 35px;
        top: 18px;
      }

      ul.sub-menu ul.sub-menu {
        padding: 0 0 0 20px;
        a {
          font-family: $secondary_font;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 140%;
          color: #777777;
          padding: 0 20px 0 60px;
        }
      }

      .catalog-categories-wrap {
        position: absolute;
        overflow-y: hidden;
        height: 100vh;
        width: 100%;
        display: none;

        ul:first-child {
          position: relative;
          height: 100%;
        }

        .catalog-content {
          height: calc(100vh - 200px);
          position: relative;
          overflow-y: scroll;

          li a {
            padding-top: 0;
            padding-bottom: 0;
          }

          ul.sub-menu {
            ul.sub-menu {
              padding: 0 0 20px 20px;
            }
          }

          &::-webkit-scrollbar {
            display: none;
          }
        }

      }

    }

    .sale {
      &:before {
        content: "";
        background: url("assets/images/sale.svg") 100% no-repeat;
        height: 30px;
        width: 30px;
        display: inline-block;
        position: absolute;
        left: 15px;
        top: 17px;
      }
    }

    li:hover ul.sub-menu, li:hover .catalog-categories-wrap{
      display: block;
    }

  }

  .navigation {
    display: inline-block;

    ul.sub-menu {
      position: absolute;
      padding: 40px 0 0 0;
      width: 100%;
      display: none;
      background: #F0F0F0;

      img {
        transform: translate(-40px, 2px);
        position: absolute;
      }

      a {
        font-family: "Gilroy Bold",sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 140%;
        color: #777777;
        padding: 10px 20px 10px 60px;

        &:hover {
          color: #F3C44C;

          img {
            filter: invert(95%) sepia(85%) saturate(2483%) hue-rotate(315deg) brightness(95%) contrast(102%);
          }
        }
      }

      li {
        left: 0;
        margin: 0;
        padding: 0;
        list-style: none;
        position: relative;
        text-align: left;
        min-width: unset;
        display: block;
        background: #F0F0F0 !important;
      }

      ul.sub-menu {
        position: relative !important;
        display: block !important;

        a {
          font-family: "Gilroy Medium",sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 140%;
          color: #777777;
          padding: 0 20px 0 60px;

          &:hover {
            color: #F3C44C;

            img {
              filter: invert(95%) sepia(85%) saturate(2483%) hue-rotate(315deg) brightness(95%) contrast(102%);
            }
          }
        }
      }
    }

    ul {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: flex-start;
      text-align: center;
      z-index: 100;

      li:first-child {
        a {
          padding: 20px 20px 20px 80px;
        }
      }

      li a {
        font-family: $primary_font;
        position: relative;
        text-decoration: none !important;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 140%;
        color: #ffffff;
        display: block;
        padding: 20px 25px 20px 45px;

        &:hover {
          color: #F3C44C;
        }
      }

      li.menu-item-disabled > a {
        pointer-events: none;
        text-decoration: none;
      }

      li {
        padding: 0;
        list-style: none;
        display: inline-block;
        position: relative;
      }
    }
  }
}

html .inner-header {
  height: 100px;

  .logo-wrapper .logo {
    background-image: url('assets/images/inner-logo.svg');
  }

  .navigation ul li a, .navigation-short ul li a {
    color: #000;
  }

}

.search-closing {
  display: block !important;

  form {
    display: block !important;
    position: absolute;
    z-index: 1000;
    left: 10px;
    right: 10px;
    animation: search-float-out .3s;
  }
}

.search-open {
  display: block !important;

  form {
    display: block !important;
    position: absolute;
    z-index: 1000;
    left: 10px;
    right: 10px;
    animation: search-float-in .4s;
  }
}

@keyframes search-float-out{
  0% { transform: translate(0px, 0px); }
  100% { transform: translate(-1000px, 0px); }
}

@keyframes search-float-in {
  0% { transform: translate(-1000px, 0px); }
  100% { transform: translate(0px, 0px); }
}

.search-wrap-top {
  width: 100%;

  form {
    position: relative;
  }

  form::after {
    content: "";
    width: 20px;
    height: 20px;
    background: url('assets/icons/search.svg') 100% no-repeat;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 30%;
  }

  label {
    position: relative;
  }

  input[type="search"] {
    width: 100%;
    padding-right: 30px;
  }

  input[type="submit"] {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    z-index: 10;
  }

  input {
    font-family: $secondary_font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    background: #FFFFFF;
    color: #000000;
    padding: 10px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 4px;

    &::placeholder {
      color: #000000;
      font-family: $secondary_font;
      font-style: normal;
      font-weight: normal;
      text-transform: none;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.01em;
    }
  }
}

.mobile-menu {
  background: url(assets/images/menu.svg) 100% no-repeat;
  width: 25px;
  height: 25px;
  position: relative;
  display: none;
}

.mobile-header {
  position: fixed;
  width: 100%;
  background: $color_white;

  i {
    filter: brightness(0) saturate(100%) invert(17%) sepia(55%) saturate(5064%) hue-rotate(332deg) brightness(87%) contrast(105%);
  }

  .navigation .catalog .catalog-categories-wrap {
    position: relative !important;

    .sub-menu {
      padding-top: 0;

      li {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 22px;

        a {
          padding-left: 0 !important;
        }

        .sub-menu li{
          padding-left: 0 !important;
        }

      }
    }
  }

  .navigation ul.menu {
    text-align: left;
    background: $color_white;
    right: 0;
    left: 0;
    padding: 30px 20px;
    display: block !important;
    position: fixed;
    min-height: 100vh;

    li.menu-item-has-children {
      &::after {
        content: "" !important;
        right: 20px !important;
        position: absolute !important;
      }

      &:hover:after {
        content: '';
        transform: rotate(180deg) translate(0px, 20px);
      }

    }

    li.current-menu-item a:after {
      bottom: -5px;
    }

    li {
      display: block;
      background: transparent !important;
      z-index: 10000;
      box-shadow: none !important;
      padding: 5px 5px;

      a {
        color: $color_black !important;

        &:hover {
          color: $color_black !important;
        }
      }

      &:hover ul.sub-menu {
        display: inline-block;;
      }

      ul.sub-menu {
        display: none;
        position: relative;
        margin-top: -10px;
        top: 0;
        box-shadow: none !important;
        background: transparent;
        padding: 20px 20px 0 20px;

        li {
          display: inline-block;
          text-align: left;
          max-width: unset;
          padding: 0;
        }

        li:after {
          content: none !important;
        }

        ul.sub-menu {
          display: none;
          &:after {
            all: unset;
            content: "";
            margin: 0;
            right: 0 !important;
            top: 8px !important;
            position: absolute !important;
            filter: none !important;
          }
        }

        li.menu-item-has-children:hover ul.sub-menu {
          display: block;
        }

      }
    }
  }
}

.icon-container {
  height: 18px;
  width: 20px;
  margin: 0 10px;
  display: inline-block;
  transform: translate(-10px, 3px) scale(1.2);
  background-repeat: no-repeat !important;
}

#wpadminbar .quicklinks {
  overflow: hidden;
}

.nav-icon {
  vertical-align: top;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  z-index: 1;

  h5 {
    width: 100px;
    display: inline-block;
  }

  &:hover {
    h5, &:before {
      filter: invert(95%) sepia(85%) saturate(2483%) hue-rotate(315deg) brightness(95%) contrast(102%);
    }
  }
}

.nav-cart {

  &::before {
    content: "";
    background: url('assets/images/cart-big.svg') 100% no-repeat;
    width: 35px;
    height: 35px;
    display: inline-block;
    margin: 0 5px;
  }

  span {
    font-family: $primary_font;
    font-style: normal;
    font-weight: bold;
    position: absolute;
    background: #C80D3F;
    padding: 1px 0;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    color: #fff;
    left: 29px;
    font-size: 12px;
    line-height: 130%;
    text-align: center;
  }
}

.nav-profile:hover .profile-modal {
  display: block;
}

.nav-profile::before {
  content: "";
  background: url('assets/images/user.svg') 100% no-repeat;
  width: 35px;
  height: 35px;
  display: inline-block;
  margin: 0 5px;
}

.primary-menu .menu-item-128 i {
  animation: 5s sale_item_animate infinite;
  animation-delay: 2s
}

@keyframes sale_item_animate {

  0% {
    transform: translate(-10px, 3px) scale(1.2) rotate(0deg);
  }
  10% {
    transform: translate(-10px, 3px) scale(1.6) rotate(-20deg);
  }
  20% {
    transform: translate(-10px, 3px) scale(1.2) rotate(0deg);
  }

}

.header .search {
  display: inline-block;
  width: 420px;
  vertical-align: top;
  margin: auto;
  margin-left: 180px;
  position: relative;

  input {
    background: #F0F0F0;
    border-radius: 4px;
    width: 100%;
    font-family: $secondary_font;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #777777;
    text-transform: none;
    margin: 0;
    padding: 10px 10px;
    padding-right: 35px;
    letter-spacing: 0;
    -webkit-appearance: none;
  }

  input::placeholder {
    font-family: $secondary_font;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #BBBBBB;
    text-transform: none;
    letter-spacing: 0;
  }

  input[type="submit"] {
    width: 20px;
    position: absolute;
    right: 0;
    background: transparent;
  }

  form::after {
    content: "";
    background: url('assets/images/search.svg') 100% no-repeat;
    width: 20px;
    height: 20px;
    display: block;
    right: 0;
    top: 0;
    margin: 12px;
    position: absolute;
  }
}