
@media only screen and (max-width: 1450px) {

  body .product-carousel {
    width: 70%;
  }
}

@media only screen and (max-width: 1330px) {

  html .sticky-header .navigation {
    order: 3;
  }

  html .sticky-header .navigation .catalog .sub-menu a {
    padding: 10px 10px 10px 40px !important;
  }

  html body .mobile-header .navigation .catalog {

    &:before {
      left: 0 !important;
      top: 13px !important;
      filter: brightness(0) saturate(100%) invert(17%) sepia(55%) saturate(5064%) hue-rotate(332deg) brightness(87%) contrast(105%);
    }

    a {
      padding: 10px 10px 10px 40px !important;
    }

  }

  .header .navigation {
    width: unset;
    background: transparent;

    ul {
      li a, li:first-child a {
        padding: 5px 0 5px 0;
      }
    }
  }

  .navigation {
    .primary-menu {
      display: none;
      background: #ffff;
      margin-top: 30px;
      position: fixed;
      left: 0;
      right: 0;

      ul {
        display: inline-block;

        li {
          width: 100%;
          text-align: left;
          display: inline-block;
        }
      }
    }

    .mobile-menu {
      display: block;
    }

  }

  .mobile-header .primary-menu {
    display: block;
  }

  .filter-column-open {
    display: block !important;
    box-shadow: 0 20px 40px rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.2);
    animation: 1s slide-in;
  }

  .woocommerce-product-column {
    width: 100%;
    padding: 0;
  }

  .woocommerce-filter-column {
    position: absolute;
    display: none;
    left: 0;
    margin-top: 43px;
    width: 300px;
    z-index: 1000;
  }

  .filter-collapse {
    display: inline-block;
  }

}

@keyframes slide-in {
  from { transform: translate(-1000px, 0); }
  to { transform: translate(0, 0); }
}

@media only screen and (max-width: 1280px) {

  body .product-carousel {
    width: 60%;
  }

  .single .product {

    .wrap-summary {
      width: 100%;
    }

    .wrap-delivery {
      width: 100%;
      padding: 20px 20px 20px 20px;

      .option {
        width: 50%;
        float: left;
      }

    }

  }

}

@media only screen and (max-width: 1220px) {

  body .header .navigation-short {
    margin-right: 45px;
    float: right;

    ul li ul.sub-menu {
      top: 110px;
    }
  }

  .woocommerce {

    .woocommerce-cart-form {
      width: 100%;
    }

    .cart-collaterals {
      width: 100%;
      margin: 0;
    }

    .wc-proceed-to-checkout a {
      width: auto;
      display: inline-block;
    }

  }

}

@media only screen and (max-width: 1200px) {

  html .sticky-header .search {
    margin-left: 0;
  }

  .header .search {
    margin-left: 80px;
  }

  .woocommerce-checkout {

    .checkout-products-data {
      order: 1;
      margin-bottom: 15px;
    }

    .checkout-delivery-data {
      order: 2;
    }

  }

  .front-content .post-container .col-xl-6 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .slide-left, .slide-right {
    max-width: 50%;
  }

  body .page-header {
    height: auto !important;
    padding: 20px 0;
    background-size: cover;
    background-position: right center;

    h1, h2, .breadcrumbs {
      position: relative !important;
    }
  }

  .partners .partners-banner:after {
    content: '';
    left: -998em;
    background: #3370FC;
    display: block;
    position: absolute;
    width: 999em;
    top: 0;
    bottom: 0;
  }

  footer .newsletter {

    label {
      padding: 0;
      border: none;
    }

    .input {
      border-bottom: 1px solid white;
      padding: 10px 0;
    }

    .input, .submit {
      width: 100%;
    }

  }

}

@media only screen and (max-width: 1080px) {

  .woocommerce table.woocommerce-orders-table {

    thead {
      display: none;
    }

    tr {
      margin: 15px 0;
      padding: 0;
      display: block;
    }

    td {
      display: block;
      padding: 10px;
    }

    td::before {
      content: attr(data-title);
      display: block;
      font-family: $secondary_font;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #777777;
    }

  }

  .woocommerce-account-navigation-links {
    display: block;
    margin: 0;

    li {
      width: auto;
      margin-bottom: 15px;
    }
  }

  .woocommerce {

    .edit-account, .account-address-manage {

      .woocommerce-form-row, .form-row {
        width: 100%;
        max-width: unset;
      }

    }

  }

  .header {

    .navigation {
      margin: auto 0;
    }

    .search {
      width: unset;
      margin: auto 0;
      position: unset;

      .search-form {
        display: none;
      }

      .search-form-open {
        display: block;
      }
    }
  }

  .slick-dots li {
    display: inline-block;
  }

  .slide-left, .slide-right {
    max-width: 100%;
  }

  .slider {

    h2 {
      width: unset;
      max-width: 600px;
    }

    p {
      max-width: unset;
    }
  }

}

@media only screen and (max-width: 960px) {

  .product .hidden-product-info,
  .woocommerce-product-column .products .product .hidden-product-info {
    position: relative !important;
    background: transparent !important;
    box-shadow: none !important;
  }

  div.paysera-payments.grid div.payment {
    width: 50%;
  }

  body .product-carousel {
    width: 100%;
  }

  .woocommerce-cart-form {

    thead {
      display: none;
    }

    td, th {
      display: block;
    }

    td::before {
      content: attr(data-title);
      display: block;
      font-family: $secondary_font;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #777777;
    }

    .product-remove a::after {
      margin: 0 !important;;
    }
  }

  .picture-block {
    margin: 50px 0;
  }

  .column-1, .column-2 {
    width: 100%;
  }

  .woocommerce-product-column .products .product {
    width: 50% !important;
  }

  .single .product {

    .woocommerce-product-gallery, .entry-summary {
      width: 100%;
    }

    .col-6 {
      max-width: 100%;
      flex: 0 0 100%;
    }

  }

}

@media only screen and (max-width: 800px) {

  .woocommerce-ordering .select-items div,
  .woocommerce-ordering .select-selected {
    min-width: unset !important;
  }

  footer ul {
    justify-content: flex-start;
    padding-left: 10px;

    li {
      padding: 10px 0;
    }
  }

}

@media only screen and (max-width: 700px) {

  .contact-page {
    .form-wrap {
      .col-1, .col-2 {
        width: 100%;
      }
    }
  }

  .nav-icon h5 {
    display: none;
  }

  .header .info-wrap {
    position: relative;
  }

  .woocommerce .woocommerce-billing-fields {

    .form-row {
      width: 100%;
    }

    .form-billing-tab-wrap {
      padding: 20px;
    }
  }

}

@media only screen and (max-width: 600px) {

  div.paysera-payments.grid div.payment {
    width: 100%;
  }

  html .sticky-header {

    .logo-wrapper .logo {
      margin: auto;
    }

    .navigation {
      margin: auto 0 !important;
      order: unset;
    }

    .search,  .nav-icon {
      order: unset;
    }

  }

  .woocommerce .woocommerce-product-gallery {

    figure.woocommerce-product-gallery-thumbnail {
      float: none;
    }

    figure.woocommerce-product-gallery__wrapper {
      float: none;
      width: 100%;
    }

    figure.woocommerce-product-gallery__wrapper .woocommerce-product-gallery__image {
      display: inline-block;
    }

  }

  .single .product {

    .woocommerce-Tabs-panel {
      width: 100%;
      padding: 0;
    }

    .instruction {
      width: auto;
      float: none;
      position: relative;

      .instruction-content {
        position: relative;
      }
    }

  }

  footer {
    ul {
      li {
        width: 100%;
      }

      ul {
        li {
          display: inline-block;
          padding: 0 5px;
          width: auto;

          a {
            width: auto;
            display: inline-block;
          }
        }
      }
    }
  }

  .post-container {
    .meta {
      width: 100%;
    }
    .content {
      width: 100%;
    }
  }

  .woocommerce-category-meta-wrap {
    display: block;
  }

  .banner h2 {
    padding: 0;
    border: none;
  }

  .partners .partners-banner {
    padding: 50px 20px 50px 20px;
  }

  .woocommerce-product-column .products .product {
    width: 100% !important;
  }

}

@media only screen and (max-width: 500px) {

  body #wtpQualitySign_fixedCSS {
    height: 45px;
    width: 45px;
    bottom: 10px;
    right: 10px;
    z-index: 1000;

    img {
      height: auto;
      width: auto;
      max-height: 100%;
      max-width: 100%;
    }
  }

  body .product-category-sidebar ul.sub-menu ul.sub-menu a {
    padding: 0 20px 0 20px;
  }

  .header .logo-wrapper {
    width: 100%;
    height: 50px;
    margin: 10px auto 0 auto;

    .logo {
      margin: auto;
    }
  }

  .product:hover {
    .close-product {
      display: block;
    }

  }

}