.woocommerce-ordering {

  select, .select-hide {
    display: none;
  }

  .select-selected {
    border: 1px solid #F0F0F0;
  }

  .select-selected:after {
    position: absolute;
    content: "";
    top: 21px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #222222 transparent transparent transparent;
  }

  .select-selected .select-arrow-active:after {
    top: 8px;
  }

  .select-items div, .select-selected {
    color: #000000;
    padding: 12px 25px 12px 16px;
    cursor: pointer;
    user-select: none;
    position: relative;
    min-width: 360px;
  }

  .same-as-selected {
    display: none;
  }

  .select-items div:hover {
    opacity: 1;
    background: #ffffff;
  }

  .select-arrow-active {
    background: #ffffff;
    color: #000000;
  }

  .select-items {
    position: absolute;
    background: #ffffff;
    z-index: 99;
    padding: 10px;
    border: 1px solid #F0F0F0;

    div {
      padding: 5px 0;
      padding-left: 7px;
      color: #000000;
    }
  }

}