@import "fonts";

.wp-block {
  max-width: 900px;
}

.product-carousel-track, .image-slide-track {
  overflow: hidden;
}

.product-carousel-wrap, .image-slide-wrap {
  padding: 0;
}

.glide__bullets {
  position: absolute;
  bottom: 0;
  padding: 40px 80px;
}

.glide__bullet {
  width: 40px;
  background: #777777;
  border: none;
  height: 3px;
  cursor: pointer;
  &:hover {
    background: #C80D3F;
  }
}

.glide__bullet--active {
  background: #ffffff;
}

.product-carousel-block,
.product-sale-block,
.info-block,
.manufacturers-block {
  position: relative;
  max-width: 1480px;
  margin: auto;
}

.product-category-sidebar {
  width: 21%;
  min-width: 340px;
  float: left;

  img {
    transform: translate(-40px, 2px);
    position: absolute;
  }

  ul.sub-menu {
    position: relative;
    padding: 40px 0 40px 20px;
    width: 100%;
    display: block !important;
    background: #F0F0F0;

    a {
      font-family: "Gilroy Bold",sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      color: #222222;
      padding: 10px 20px 10px 60px;

      &:hover {
        color: #F3C44C;

        img {
          filter: invert(95%) sepia(85%) saturate(2483%) hue-rotate(315deg) brightness(95%) contrast(102%);
        }
      }
    }

    li {
      left: 0;
      margin: 0;
      padding: 0;
      background: #F0F0F0;
      list-style: none;
    }

    .visible-menu-item li {
      display: block !important;
    }

    ul.sub-menu {
      padding: 0 0 20px 0;

      .menu-invisible {
        display: none;
      }

      &:hover {
        .menu-invisible {
          display: block;
        }
      }

      a {
        font-family: "Gilroy Medium",sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 140%;
        color: #777777;
        padding: 0 20px 0 60px;

        &:hover {
          color: #F3C44C;

          img {
            filter: invert(95%) sepia(85%) saturate(2483%) hue-rotate(315deg) brightness(95%) contrast(102%);
          }
        }
      }
    }
  }

}

.product-carousel {
  width: 76%;
  float: left;
  padding: 20px 0 0 20px;

  .carousel-slide {
    background-repeat: no-repeat;
    background-size: contain;
    list-style: none;
    height: 540px;
    position: relative;
    float: left;
  }

  .wrap-content {
    position: relative;
    padding: 40px 80px;
  }

  h2 {
    font-family: $primary_font;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: $color_white;
  }

  h3 {
    font-family: $primary_font;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: $color_white;
  }

  p {
    font-family: $secondary_font;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: -0.01em;
    max-width: 490px;
    color: $color_white;
  }

  a {
    position: absolute;
    bottom: 100px;
    font-family: $primary_font;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 170%;
    letter-spacing: 0.2em;
    color: #fff;
    background: #C80D3F;
    border-radius: 4px;
    padding: 20px 40px 20px 60px;
    vertical-align: bottom;
    display: inline-block;
    margin: 40px 80px;

    &:hover {
      background: #F3C44C;
      color: #222222;

      &::before {
        filter: invert(1) brightness(10);
      }
    }

    &::before {
      content: "";
      background: url('assets/images/eye.svg') 100% no-repeat;
      width: 25px;
      height: 18px;
      transform: translate(-12px, 3px);
      display: inline-block;
    }
  }

}

.product-sale-block {
  h2 {
    padding: 40px 0;
  }

  &:before {
    content: "";
    background: #ffffff;
    position: absolute;
    width: calc(100vw - 1480px);
    margin: 0 0 0 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99999;
  }

  &:after {
    content: "";
    background: #ffffff;
    position: absolute;
    width: 100vw;
    margin: 0 -100vw;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99999;
  }

  .product .hidden-product-info {
    //position: relative;
    //padding: 0;
    //box-shadow: none;
  }

  .wrap {
   // overflow-y: hidden;
  }

  .sale-carousel {
    width: 100%;
    margin: auto;

    ul {
      padding: 0;
      margin: 10px auto;
      display: flex;
      justify-content: flex-start;
      vertical-align: top;
    }
  }

  .product-list-wrap {
    padding-bottom: 60px;
    position: relative;
    z-index: 1000;

    .product {
      position: relative;
    }
  }
}

.product-sale-block, .product-category-block {

  .product-list-wrap {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

}

td[data-name="product-properties-value"],
td[data-name="product-dimensions-value"],
td[data-name="product-general-info-value"]{

  .wp-editor-area, .mce-edit-area {
    height: 50px;
  }
}

.products .product, .sale-carousel-wrap .product, .product-column .product {
  width: 25%;

  .product-image-active {
    display: none;
  }

  .attachment-woocommerce_thumbnail, .product-image-active, .attachment-full {
    max-height: 320px;
    max-width: 100%;
    width: auto;
    height: auto;
  }

  &:hover {

    .product-image-active {
      display: block;
      margin: auto;
    }

    .attachment-woocommerce_thumbnail, .attachment-full {
      display: none;
    }

  }
}

.price {
  width: 100%;
  display: block;

  em {
    display: inline-block;
    font-size: 12px;
    transform: translate(-3px, -5px);
    font-style: normal;
  }

  ins .woocommerce-Price-amount {
    color: #C80D3F;
    text-decoration: none;
  }

  del .woocommerce-Price-amount {
    color: #BBBBBB;
    font-size: 16px !important;
    font-family: $secondary_font;
    text-decoration: line-through;
    font-weight: lighter;

    em {
      font-size: 10px !important;
      transform: translate(0px, -5px) !important;
    }
  }

  del, ins, .woocommerce-Price-amount {
    font-family: $primary_font;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    text-decoration: none;
  }

  .woocommerce-Price-amount {
    color: #222222;
  }

  .wholesale-price {
    color: #222222;
    font-size: 16px;
    display: block;
  }

}

.single-product {
  .price .wholesale-price {
    font-size: 20px;
    font-family: "Gilroy Bold",sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 140%;
  }
}

.price.is-wholesale .woocommerce-Price-amount {
  text-decoration: line-through;
  display: inline-block;
}

.product, .woocommerce-product-column .products .product {
  display: inline-block;
  padding: 20px;
  position: relative;
  width: calc(33.333% + 1px);
  border: 1px solid #F0F0F0;
  margin: -0.5px;

  .wp-post-image {
    max-height: 200px;
    max-width: 300px;
    width: auto;
  }

  &:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;

    .hidden-product-info {
      display: block;
    }

    .woocommerce-product-details__short-description, .cart, .button {
      display: block;
    }
  }

  h4 {
    font-family: $primary_font;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    z-index: 101;
    position: relative;
  }

  p {
    font-family: $secondary_font;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #777777;
    margin: 5px 0 5px 0;
  }

  .hidden-product-info {
    display: none;
    position: absolute;
    background: #ffffff;
    width: 100%;
    padding: 20px;
    margin: 0;
    left: 0;
    box-shadow: 0px -18px 0px white, 0px 20px 40px rgba(0,0,0,0.25);
    z-index: 10;
  }

  .quantity, .product_meta {
    display: none;
  }

  .onsale {
    display: block;

    &::after {
      content: "";
      background: url('assets/images/onsale.svg') 100% no-repeat;
      width: 40px;
      height: 40px;
      position: absolute;
      right: 10px;
    }
  }

  .onsale-percentage {
    background: #C80D3F;
    border: 2px solid #C80D3F;
    font-family: $primary_font;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    position: absolute;
    border-radius: 50%;
    padding: 5px 0;
    right: 10px;
    height: 40px;
    width: 40px;
  }

  .popular {
    display: block;

    &::after {
      content: "";
      background: url('assets/images/top.svg') 100% no-repeat;
      width: 40px;
      height: 40px;
      position: absolute;
      left: 10px;
    }
  }

  button, .button {
    background: #F3C44C;
    border-radius: 4px;
    border: none;
    width: 100%;
    margin: 15px 0;
    padding: 15px 35px 15px 50px;
    font-family: $primary_font;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #222222;
    cursor: pointer;

    &:hover {
      background: #C80D3F;
      color: #ffffff;

      &:before {
        filter: invert(1) brightness(10);
      }
    }

    &:before {
      content: "";
      display: inline-block;
      background: url('assets/images/cart.svg') 100% no-repeat;
      height: 30px;
      width: 30px;
      transform: translate(-38px, -4px);
      position: absolute;
    }

  }

  .woocommerce-product-gallery {
    opacity: 1 !important;
  }

}

.product-category-block {
  background: #F0F0F0;
  padding: 20px 0 80px 0;

  .text-wrap {
    position: relative;
    max-width: 1480px;
    margin: auto;
    padding: 20px 0;

    h2 {
      display: inline-block;
    }

    a {
      float: right;
      padding: 20px 0 20px 0;
      font-family: $primary_font;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 140%;
      color: #222222;

      &::after {
        content: "";
        background: url('assets/images/arrow.svg') 100% no-repeat;
        width: 40px;
        height: 10px;
        display: inline-block;
      }
    }
  }

  .block-wrap {
    position: relative;
    max-width: 1480px;
    margin: auto;
    background: #ffffff;
    padding: 0 0 0 20px;
    border-left: 3px solid #3CC9C9;
  }

  .category-column {
    float: left;
    width: 25%;
    position: relative;

    ul {
      padding-top: 20px;
      position: relative;
      z-index: 1;

      li {
        list-style: none;
        padding: 10px 0;
      }

      li:before {
        content: "\2022";
        color: #47ACE5;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -15px;
      }

      li[data-color="#47ace5"]:before {
        content: "\2022";
        color: #47ace5;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -15px;
      }

      li[data-color="#3CC9C9"]:before {
        content: "\2022";
        color: #47ace5;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -15px;
      }

      li[data-color="#3CC9C9"]:before {
        content: "\2022";
        color: #47ace5;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -15px;
      }

      li[data-color="#7bba53"]:before {
        content: "\2022";
        color: #7bba53;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -15px;
      }

      li[data-color="#f3c44c"]:before {
        content: "\2022";
        color: #f3c44c;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -15px;
      }

      li, a {
        font-family: $primary_font;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 140%;
        color: #222222;

        &:hover {
          color: #F3C44C;
        }
      }
    }
  }

  .product-column {
    float: left;
    width: 75%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    vertical-align: top;

    .product {
      width: calc(33.333% + 1px);
      border: 1px solid #F0F0F0;
      margin: -0.5px;
    }
  }

  .back {
    position: absolute;
    bottom: 0;
    z-index: 0;

    img {
      position: relative;
    }
  }

}

.info-block {

  .info-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 20px 0;

    li {
      display: inline-block;
      padding: 10px;

      &:hover {
        img {
          filter: brightness(0) saturate(100%) invert(95%) sepia(85%) saturate(2483%) hue-rotate(315deg) brightness(95%) contrast(102%);
        }

        h4 {
          color: #F3C44C !important;
        }
      }
    }
  }

  h4 {
    margin: 15px 0 12px 0;
  }

  a {
    font-family: $secondary_font;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #777777;
  }

  p {
    width: 200px;
  }

}

.manufacturers-block {
  border-top: 2px solid #222222;
  padding: 40px 0;
  margin-top: 20px;

  .manufacturers-wrap {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 20px 0;

    h4 {
      width: 200px;
    }

    img {
      filter: grayscale(100%);
      opacity: .5;
    }

    a:hover img {
      filter: grayscale(0);
      opacity: 1;
    }

    li {
      padding: 0 80px 0 0;
    }
  }

}

@media only screen and (max-width: 1380px) {
  .product-carousel-block {
    width: 100%;
    float: none;

    //ul.sub-menu li {
    //  display: inline-block;
    //  width: auto;
    //}
    //
    //ul.sub-menu {
    //  ul.sub-menu {
    //    width: 100%;
    //
    //    li {
    //      display: inline-block;
    //      width: unset;
    //
    //      a {
    //        padding: 0 20px 0 20px;
    //      }
    //    }
    //  }
    //}

    //.product-carousel, .product-category-sidebar {
    //  width: 100%;
    //  float: none;
    //}

    .product-carousel {
      padding: 0;
    }
  }

  .info-block {
    li {
      flex-basis: 33.3%;
    }
  }

}

@media only screen and (max-width: 1200px) {

  .manufacturers-block .manufacturers-wrap {
    li:first-child {
      width: 100%;
    }
    li {
      padding: 20px;
    }
  }

  .product-list-wrap {
    margin: auto;
    li.product {
      width: 50% !important;
    }
  }

  .product-category-block .back {
    position: absolute !important;

    img {
      width: 100%;
    }
  }

}

@media only screen and (max-width: 980px) {

  .product-list-wrap {
    li.product {
      width: 100% !important;
      text-align: center;
    }
  }

  .category-column ul {
    padding-left: 10px;
  }

  .product-sale-block .product-list-wrap .product {
    width: 100% !important;
  }

  .product-category-sidebar {
    width: 100%;
  }

}

@media only screen and (max-width: 800px) {

  .product-carousel {

    .wrap-content {
      padding: 40px 20px;
    }

    h3 {
      font-size: 18px;
    }

    h2 {
      font-size: 50px;
    }

    p {
      font-size: 25px;
    }

    a {
      position: relative;
      bottom: unset;
      width: auto;
      margin: 0 10px;
    }

    .glide__bullets {
      padding: 40px 10px;
    }

  }

  .product-category-block, .product-sale-block, .products li {
    img {
      max-width: 100% !important;
      height: auto;
    }
  }

  .product-category-block {

    .product-list-wrap {
      display: block;
    }

    .category-column, .product-column {
      float: none;
      width: 100%;

      ul {
        z-index: 10;
        position: relative;

        a {
          display: inline-block;
        }
      }
    }

    .back {
      display: none;
      position: absolute !important;
      max-width: 320px;
      opacity: 0.5;
      margin: auto;
      right: 0;
      top: 0;
      z-index: 0;
    }

  }

  .category-column li {
    white-space: nowrap;
  }


}

@media only screen and (max-width: 600px) {

  .product-category-block .text-wrap a {
    float: none !important;
    width: 100%;
    display: block;
  }

}

@media only screen and (max-width: 400px) {

  .product-category-block {
    padding: 20px 0 20px 0;
  }

  .product-carousel-block ul.sub-menu ul.sub-menu li {
    width: 100%;
  }

  .product-category-sidebar ul.sub-menu a {
    padding: 10px 20px 10px 40px;
  }

  .product-category-sidebar ul.sub-menu ul.sub-menu {
    padding: 0 0 20px 20px;
  }

  .product-category-sidebar {
    min-width: unset;
  }

  .manufacturers-block .manufacturers-wrap {
    li {
      width: 100%;
    }
  }

}

p.phone::before {
  content: "";
  background: url('assets/images/phone.svg') 100% no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
  transform: translate(0px, 5px);
  filter: brightness(0) saturate(100%) invert(13%) sepia(0%) saturate(3889%) hue-rotate(354deg) brightness(105%) contrast(102%);
}

p.mail::before {
  content: "";
  background: url('assets/images/mail.svg') 100% no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
  transform: translate(0px, 5px);
}

.qna-block {

  .hidden {
    display: none !important;
  }

  .answer {
    position: relative;
    display: block;
    margin: 10px 0;
  }

  .question {
    position: relative;
    border-bottom: 1px solid #F0F0F0;
  }

  .question-open {
    h3 {
      color: #F3C44C;
      &:after {
        content: "";
        display: inline-block;
        background: url("assets/images/tab-close.svg") 100% no-repeat;
        height: 25px;
        width: 25px;
        right: 0;
        transform: translate(0px, -1px);
        position: absolute;
      }
    }
  }

  h3 {
    &:after {
      content: "";
      display: inline-block;
      background: url("assets/images/tab-open.svg") 100% no-repeat;
      height: 25px;
      width: 25px;
      right: 0;
      transform: translate(0px, -1px);
      position: absolute;
    }
  }

}